# Environnement virtuel
venv_DaggerHeart/
# Environnement
.env
# Fichiers .bak .bat
*.bat
*.bak
# Fichiers d'exécution
__pycache__
*.pyc
# Tests et logs
*.log
# Database
db.sqlite3
# Media
pdf/
Images/

